# Dependencies & Build
node_modules/
dist/
build/
android/app/build
android/.gradle
bin/

# Capacitor & Android Specs
android/local.properties
android/app/src/main/assets/public
*.apk

# Environment & Logs
.env*
*.log
npm-debug.log*

# OS & IDEs
.DS_Store
.vscode/
