# Dependencies & Build
node_modules/
dist/
build/
android/app/build
android/.gradle
bin/

# Capacitor & Android Specs
android/local.properties
android/app/src/main/assets/public
*.apk
*.aab
android/captures/

# Logs
*.log
npm-debug.log*
*.hprof

# OS & IDEs
.DS_Store
.vscode/
.idea/
*.iml